implementation/pipeline/SetAndAppendActivities.json
{
	"name": "SetAndAppendActivities",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileType",
					"value": {
						"value": "@replace(pipeline().parameters.fileName,'Sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ListofFiles",
					"value": {
						"value": "@variables('FileType')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Appendedfiles",
					"value": {
						"value": "@variables('ListofFiles')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "DailySales"
			}
		},
		"variables": {
			"FileType": {
				"type": "String"
			},
			"ListofFiles": {
				"type": "Array",
				"defaultValue": [
					"doc",
					"docx",
					"pdf",
					"txt"
				]
			},
			"Appendedfiles": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}